* {
  margin: 0;
  padding: 0;
  font-family: 'Krona One', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}

body {
  background-color: lightgray;
}


/* brand images */

.brand {
  border-radius: 9px;
  margin-top: 180px;
  background-color: white;
  padding: 50px;
}

h2 {
  font-size: 400%;
  text-align: center;
  font-family: 'Lora', serif;
}

* {
  box-sizing: border-box;
}

.row,
.column {
  margin-top: 100px;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

img {
  border-radius: 8px;
}

img.hover-shadow {

  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* all brands */

.allBrands-text {
  margin-top: 100px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: white;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}