* {
  margin: 0;
  padding: 0;
  font-family: 'Krona One', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}

body {
  background-color: whitesmoke;
}


/* brand images */

.brand {
  border-radius: 9px;
  margin-top: 180px;
  background-color: white;
  padding: 50px;
}

h2 {
  font-size: 400%;
  text-align: center;
  font-family: 'Lora', serif;
}

* {
  box-sizing: border-box;
}

.row,
.column {
  margin-top: 100px;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

img {
  border-radius: 8px;
}

img.hover-shadow {

  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* all brands */

.allBrands-text {
  background-color: darkgray;
  color: white;
  border-radius: 16px;
  padding: 150px 150px;
  text-align: center;
}
.allBrands-heading{
  font-size:50px
}
.allBrands-subHeading{
  font-size:30px;
  margin-bottom: 30px;
}
.allBrands-content  a{
  padding: 10px 8px;
  border-radius: 4px;
  font-size:30px;
  text-decoration:none;
  color: black;
  background-color: whitesmoke;
}

.allBrands-content:hover {
  opacity: 0.8;
}