* {
  margin: 0;
  padding: 0;
  font-family: 'Krona One', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}
body{
  background-color: lightgray;
}

/* sorting buttons */
.btn-group{
width:100%;
}
.btn-group button {
  margin-top: 100px;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.dropBtn:hover,
.dropBtn:focus {
  background-color: gray;
}

.dropBtn-2:hover,
.dropBtn-2:focus {
  background-color: gray;
}

.dropDown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDown input:hover {
  background-color: #ddd;
}

.show {
  display: block;
}



/* mobile Cards */
.card {
  background-color: white;
  border-radius: 4px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  margin-right: 15px;
  padding-bottom: 20px;
}

.row {
  display: flex;
}

.maincard {
  width: 100%;
}

.maincardrow {
  width: 50%;
}

.cardnew {
  width: 100%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
.card img{
  width:70%;
transition: transform .2s; 
}
.card img:hover{
  transform: scale(1.1);
}
.card button:hover {
  opacity: 0.7;
}
