table {
  margin-top: 10%;
  margin-left: 10%;
  border-collapse: collapse;
  width: 70%;
}
th{
  color: white;
  background-color: dimgray ;
}  
td, th {  
  text-align: center;
  border: 0px solid;
  text-align: center;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.cancle-btn{
  background-color: #f44336;  
  padding: 5px;
  color: white;
  border-radius: 2px;
  border:0px;
}