table {
  margin-top: 10%;
  margin-left: 10%;
  border-collapse: collapse;
  width: 50%;
}
th{
  color: white;
  background-color: slategray;
}  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}