*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("images/login\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 50px;
    margin: 0px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

form {
     text-align: center;
}

.outer{
    border-radius: 40px;
    background-color: whitesmoke;
     margin-top: 100pX;
     margin-bottom: 0px;
     margin-right: 500px;
     margin-left: 500px;
    }

.outer.box.container{
     padding-bottom: 500px;
     height: 500px;
     }
.imgContainer {
        text-align: center;
        margin: 12px 0 12px 0;   
        height: fit-content;
    }
input[type=email],
input[type=password] {
        text-align: left;
        width: 70%;
        height: 5%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 80%;
    }
    button:hover {
        opacity: 0.8;
    }
    
.container{
        border-radius: 20px;
        width: 333px;
        height: 30px;
        padding: 16px;
    }
.cancelBtn {
            margin-right : 150px;
            padding: 10px;
            width: 80px;
            height: 30px;
            background-color: #f44336;
        }

img.avatar {
            height: 40%;
            width: 40%;
        }
.signUp {
            float: right;
            padding-top: 10px;
            width: 80px;
            height: 30px;
        }

@media screen and (max-width: 300px) {
span.signUp {
            display: block;
            float: left;
            }
        }





















