.navbar{
    width: 100%;
    background-color: white;
    overflow: auto;
}
.logo{
  float: left;
  height: 50px;
    width: 50px;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}


img{
    float: right;
    height: 30px;
    width: 30px;
}

.navbar a:hover {
    border-bottom: 3px solid red;
  }

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  footer{
    background-color: black;
    color: cornsilk;

  }