*{
    margin: 0%;
    padding: 0%;
}
h2{
    font-size: 50px;
    margin: 0px;
    text-align: center;
font-family: 'Quicksand', sans-serif;
}
form {
     text-align: center;
     border: 3px solid #f1f1f1;
}
.outer{
    background-color: lightcoral;
     margin-top: 100pX;
     margin-bottom: 0px;
     margin-right: 500px;
     margin-left: 500px;
 }
body{
background-color: lightslategray;
 }
.outer.box.container{
     padding-bottom: 500px;
     height: 500px;
 }
    .imgcontainer {
        text-align: center;
        margin: 12px 0 12px 0;   
        height: fit-content;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
        text-align: left;
        width: 70%;
        height: 5%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button {
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 80%;
    }
    button:hover {
        opacity: 0.8;
    }
    .container{
        width: 33px;
        height: 30px;
    }
        .cancelbtn {
            padding: 5;
            width: 80px;
            height: 30px;
            background-color: #f44336;
        }
        img.avatar {
            width: 40%;
            border-radius: 50%;
        }
        .container {
            padding: 16px;
            
        }
        span.psw {
            float: right;
            padding-top: 16px;
        }
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: left;
            }
        }





















