*{
  margin: 0;
  padding: 0;
}
body{
  background-color:lightgray;
}

.topnav{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.topnav:hover{
  background-color: white;
}

.icon{
  width: 40px;
  height: 40px;
  float: left;
}

.mobilehub{
  margin: 5px 10px;
  font-size: 30px;
  color:black;
  float: left;
  font-family: 'Krona One', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}
.mobilehub:hover{
  transform: unset;
  color: grey;
}

/* search bar */

input[type=text] {
  margin-right: 50px;
  float: right;
  width: 130px;
  box-sizing: content-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url('images/search.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 30%;
}


.account{
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 100px;
  margin-top: 15px;
}

.cart{
  width: 25px;
  height: 25px;
  float: right;
  margin-right: -80px;
  margin-top: 15px;
}


/* brand images */

.brand{
  border-radius: 9px;
  margin-top: 180px;
  background-color: white;
  padding: 50px;
}

h2{
  font-size: 400%;
  text-align: center;
  font-family: 'Lora', serif;
}

* {
  box-sizing: border-box;
}

.row > .column {
  margin-top: 100px;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

img{
  border-radius: 8px;
}

img.hover-shadow {

  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}