body{
  background-color:whitesmoke;
}

.icon{
  width: 40px;
  height: 40px;
  float: left;
}
.mb{
  margin: 8px;
  font-size: 30px;
  color:black;
  float: left;
  font-family: 'Krona One', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}
.mb:hover{
  transform: unset;
  color: grey;
}

.product{
  color: black;
  text-decoration: none;
}
.account{
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 100px;
  margin-top: 15px;
}
.cart{
  width: 25px;
  height: 25px;
  float: right;
  margin-right: -80px;
  margin-top: 15px;
}


/* .onepplus{
  top: 70px;
  position: relative;
  transition: transform .2s;
  width: 225px;
  height: 225px;
  margin: 0 auto;
}
.onepplus:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.iphone{
  top: 50px;
  position: relative;
  transition: transform .2s;
  width: 230px;
  height: 230px;
  margin: 0 auto;
}
.iphone:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.iph{
  float: right;
  margin-top: -200px;
  margin-right: 400px;
}

.redmi{
  transition: transform .2s;
  width: 210px;
  height: 210px;
  margin: 0 auto;
}
.redmi:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mi{
  margin-top: -145px;
  margin-right: 150px;
  float: right;
} */

/* brand images */
.brand{
  border-radius: 9px;
  margin-top: 180px;
  background-color: white;
  padding: 50px;
}
h2{
  font-size: 400%;
  text-align: center;
  font-family: 'Lora', serif;
}

* {
  box-sizing: border-box;
}

.row > .column {
  margin-top: 100px;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

img{
  border-radius: 8px;
}

img.hover-shadow {

  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}