.container{
  margin-top: 10%;
   margin-left: 20%;
}
h3{
  margin-left: 33%;

}

table {
  margin-top: 5%;
  border-collapse: collapse;
  width: 80%;
}
th{
  color: white;
  background-color: darkslategray;
}  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}